<div class="login" id="login" >
  <a href="#" class="close" ng-click="loginController.reset()">X</a>
  <p>{{angular.toString()}}</p>
  <h4>Username</h4>
  <input ng-model="loginController.username"/>
  <h4>Password</h4>
  <input ng-model="loginController.password"/>
  </br></br>
  <button type="button" class="btn btn-danger"
    ng-click="loginController.signUp()">
    Sign Up
  </button>
  <button type="button" class="btn btn-danger"
    ng-click="loginController.logIn()">
    Log In
  </button>
  </br></br>
  <p ng-show="loginController.taskService.signupError"><b>{{loginController.taskService.signupError}}</b></p>
  <p ng-show="loginController.taskService.loginError"><b>{{loginController.taskService.loginError}}</b></p>
</div>
